acme-navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
  color: turquoise !important;
  font-family: raleway !important;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.page-top {
  margin-top: 10vh;
}

h4 {
  text-decoration: underline;
}

p {
    font-size: 1em;
    margin: 0 0 1.313em;
    // color: #444;
    line-height: 1.7;
}

a.page-link {
  color: #789;
  font-size: 1.2em;
  padding-right: 18px;
}

a.page-link:hover {
  text-decoration: underline;
}

.wave {
 padding-left:4px;
}

.volume-icon {
  margin-left: 20px;
  float: left;
  width: 15px;
}
.slider {
  float:left;
  margin-top: 3.1px;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


//piano css taken from https://codepen.io/garypaul/pen/jgKqc
$ebony : #171C1A;
$ivory: white;

 .piano ol { 
  position: relative; 
  padding: 0; 
  margin: 0 0 10px; 
  display: inline-block;
  //float: left;
  font-size: 0; // to get rid of spaces between keys. ugly, I know.
}

.piano ol.scale-2 {
  margin-left:-4px;
}

.piano li{
  font-size: 16px;
  font-size: 1rem;
  transition: all 0.1s ease-in-out; //  just a little animation

  padding: 0; 
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 220px 15px 50px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px #aaa;

  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: white;
  color: transparent;
  &:hover {
    color: #C0C1BD;
    
  }
  &:active{
    box-shadow: none;
    top: 5px;
    color: #333;
  }
  &.ebony {
    /* build the key shape */
    z-index: 2;
    position: absolute;
    width: 32px;
    top: 0px;
    margin-left: -16px; // align the ebony keys
    padding: 130px 0px 10px;

    /* Typography */
    text-align: center;
    font-size: 0.66667rem;
    color: transparent;
   
    
    border-radius: 0 0 2px 2px;
    border-width: 0 6px 12px;
    border-color: #000;
    border-bottom-color: #424546;
    background: $ebony;
    box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(gainsboro,0.2);
    
    &:hover {
        color: gainsboro;
    }
    
    &:active {
      border-bottom-width: 8px;
      padding-top: 135px;
      color: $ivory;
    }
  }
}